@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
@import "materialize";


nav {
  .brand-logo {
    img {
      max-width: 100px;
      height: auto;
      vertical-align: text-bottom;
    }
  }
}

.danger {
  .material-icons {
    color: #B71C1C !important;
  }
}

.btn, .btn-small, .btn-medium, .btn-large {
  &.temp_toggle {
    background-color: #9e9e9e !important;
    color: #000 !important;
  }
  &.active {
    background-color: #01579b !important;
    color: #fff !important;
  }
}

a {
  .material-icons {
    pointer-events: none;
  }
}
