
.row
  .col.s12
    %h3.center-align Hi Henri | Weather App

.row
  .col.s12
    = form_for :weather, url: get_weather_url, html: {id: "get_weather_form"}, method: :post do |f|
      .col.s6.offset-s3
        .input-field.col.s6
          = f.text_field :zip_code, placeholder: "93401", class: "validate", id: 'weather_zip_code'
          %label{for: :zip_code}
        .input-field.col.s4.offset-s2
          %button{id: "tempSubmit", class: 'btn-large waves-effect waves-light'}
            Submit
            %i.material-icons.right cloud
  .col.s2.push-s10
    %button{id: 'temp_f', class: 'temp_toggle btn-small waves-effect waves-light active', data: {temp_type: 'fahrenheit'}}
      °F
    %button{id: 'temp_c', class: 'temp_toggle btn-small waves-effect waves-light', data: {temp_type: 'celcius'}}
      °C
#user-locations-table
  = render 'weathers/user_locations'
